.about .about-content {
    max-width: 800px;
    line-height: 2;
    color: rgb(218, 218, 218);
}

.about .about-content h1 {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.7rem;
    text-align: center;
}

.about .about-content .about-name {
    color: rgb(0, 255, 0);
}

.about .about-content .about-speciality {
    color: rgb(255, 191, 0);
}

.about .about-content .about-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.about .about-content .about-buttons button {
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    letter-spacing: 0.8dvb;
    cursor: pointer;
}

.about .about-content .about-buttons button:hover {
    border-color: rgb(0, 140, 255);
    color: rgb(0, 140, 255);
}

.about .about-image img {
    width: 400px;
}

/* ------ responsive ------ */
@media (max-width: 1000px) {

    .about {
        flex-direction: column-reverse;
    }
    
}