.experience-body {
    border: 3px solid red;
    padding: 1rem 2rem;
}

.experience-title {
    margin: 0 auto;
    color: rgb(149, 149, 149);
    padding: 1rem;
    border-width: 0px 3px 0px 3px;
    border-style: solid;
    border-color: red;
    border-radius: 1.5rem;
}

.experience-1-head {
    color: white;
}

.experience-1-info {
    display: flex;
    flex-wrap: wrap;
    color: gray;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.experience-1-type {
    color: rgb(111, 162, 145);
    text-align: justify;
    text-justify: inter-word;
}

.expericence-info-space {
    margin: 0 1rem;
}

.experience-1-body {
    color: gray;
    text-align: justify;
    text-justify: inter-word;
}